.main {
  height: 100%;
}

.intro {
  display: grid;
  grid-template-columns:
    1fr minmax(400px, 600px) minmax(100px, 200px) minmax(300px, 400px)
    1fr;
  grid-template-rows: 1fr;

  width: 100%;
  margin: 0 auto;
  isolation: isolate;
  --min-height: 600px;
  --max-height: auto;
}

.intro .text {
  grid-column: 2 / 3;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.intro .text .nav {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 32px 0 16px;
}

.intro .text .link {
  font-size: 1rem;
}

.intro .text .link.primary {
  font-weight: 800;
  color: var(--blue-800);
}

.intro .text p.introText {
  font-size: 2rem;
  line-height: 1.25;
  margin: auto 0;
}
.intro .text .blue {
  color: var(--blue-700);
  line-height: inherit;
}
.intro .clipping {
  position: relative;
  grid-column: 3 / 5;
  grid-row: 1;
  width: 100%;
  height: 100%;
  min-height: var(--min-height);
  max-height: var(--max-height);
  z-index: 1;
  color: white;
  transform: translate(-1px);
}
.intro .clipping canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.intro .gradient {
  height: 100%;
  min-height: var(--min-height);
  max-height: var(--max-height);
  background-image: linear-gradient(
    45deg,
    hsl(233deg 50% 53%) 0%,
    hsl(214deg 76% 46%) 22%,
    hsl(206deg 100% 42%) 29%,
    hsl(203deg 100% 42%) 34%,
    hsl(200deg 100% 42%) 39%,
    hsl(196deg 100% 42%) 44%,
    hsl(192deg 100% 41%) 50%,
    hsl(188deg 100% 40%) 58%,
    hsl(184deg 81% 43%) 68%,
    hsl(180deg 50% 53%) 100%
  );
  grid-column: 3 / 6;
  grid-row: 1;
  display: flex;
  align-items: center;
}
.intro .canvas {
  grid-column: 3 /5;
  grid-row: 1;
  width: 100%;
  height: auto;
  min-height: var(--min-height);
  max-height: var(--max-height);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.intro .canvas > * {
  height: 400px;
  width: 400px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.projects {
  margin-top: 64px;
}
.projects > * + * {
  margin-top: 16px;
}
.projects .heading {
  font-size: 2rem;
}

.projects .text {
  max-width: 400px;
}

.projects .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
.projects .grid .project > * + * {
  margin-top: 16px;
}
.projects .grid .project {
  flex: 1;
}
.projects .grid h3 {
  font-size: 1.5rem;
  line-height: 1.5;
}
.projects .grid p {
  max-width: 320px;
}
.projects .grid .button {
  display: inline-flex;
  align-items: center;
  padding: 6px 8px;
  background-color: var(--blue-600);
  transition: background-color 500ms;
  color: white;
  gap: 4px;
  border-radius: 4px;
}
.projects .grid .button:hover {
  background-color: var(--blue-700);
}

.projects .grid .image {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}
.projects .grid .image img {
  display: block;
  aspect-ratio: 4 / 3;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

@media (prefers-reduced-motion: no-preference) and (hover: hover) and (pointer: fine) {
  .projects .grid .image:hover img {
    transform: scale(1.02);
  }
}

@media (max-width: 1250px) {
  .intro .text,
  .container {
    padding-inline: 16px;
  }

  .projects .grid {
    gap: 50px;
  }
}
@media (max-width: 800px) {
  .intro {
    --min-height: 200px;
    --max-height: 400px;
  }
  .intro {
    grid-template-rows: 400px 1fr;
    grid-template-columns: 1fr;
  }
  .intro .canvas {
    grid-row: 1;
    grid-column: 1;
  }
  .intro .canvas > * {
    width: 300px;
    height: 300px;
  }
  .intro .gradient {
    grid-row: 1;
    grid-column: 1;
  }
  .intro.clipping {
    display: none;
  }
  .intro .text {
    grid-row: 2;
    grid-column: 1;
  }
  .projects .grid {
    gap: 62px;
    grid-template-columns: 1fr;
  }
}

@media (prefers-color-scheme: dark) {
  .intro .text .link.primary {
    color: var(--blue-600);
  }
  .intro .text .blue {
    color: var(--blue-300);
  }
  .intro .gradient {
    background-image: linear-gradient(
      45deg,
      hsl(233deg 40% 36%) 0%,
      hsl(217deg 58% 34%) 22%,
      hsl(205deg 98% 28%) 29%,
      hsl(202deg 100% 28%) 34%,
      hsl(198deg 100% 28%) 39%,
      hsl(195deg 100% 28%) 44%,
      hsl(191deg 100% 27%) 50%,
      hsl(188deg 100% 26%) 58%,
      hsl(185deg 60% 32%) 68%,
      hsl(180deg 40% 36%) 100%
    );
  }
  .intro .clipping {
    color: var(--gray-900);
  }
  .projects .grid .button {
    background-color: var(--blue-650);
  }
}
